{% extends "admin/admin_layout.html" %}
{% block content %}
<div class="container mx-auto px-4 pt-6">
  <!-- Tabs: 4 cột đều -->
  <div class="grid grid-cols-4 gap-2 mb-6">

    <button
      class="tab-btn w-full px-6 py-3 text-gray-700 bg-gray-100 hover:bg-green-100 font-semibold text-center rounded-t-md transition duration-300"
      onclick="showTab('doanhnghiep', this)" id="doanhnghiep-btn">
      Danh sách Doanh nghiệp
    </button>
    <button
      class="tab-btn w-full px-6 py-3 text-gray-700 bg-gray-100 hover:bg-green-100 font-semibold text-center rounded-t-md transition duration-300"
      onclick="showTab('hiephoidoanhnghiep', this)" id="hiephoidoanhnghiep-btn">
      Danh sách Hiệp hội
    </button>
    <button
      class="tab-btn w-full px-6 py-3 text-gray-700 bg-gray-100 hover:bg-green-100 font-semibold text-center rounded-t-md transition duration-300"
      onclick="showTab('nganhnghe', this)" id="nganhnghe-btn">
      Ngành nghề
    </button>
    <button
      class="tab-btn w-full px-6 py-3 text-gray-700 bg-gray-100 hover:bg-green-100 font-semibold text-center rounded-t-md transition duration-300"
      onclick="showTab('dangkihiephoi', this)" id="dangkihiephoi-btn">
    Đăng ki hội viên
    </button>

    
  </div>


  <!-- Nội dung các tab -->



  <div id="hiephoidoanhnghiep" class="tab-content hidden bg-white p-6 rounded-b-lg shadow">
    <!-- <h2 class="text-xl font-semibold mb-4 text-green-700">🤝 Danh sách Hiệp hội</h2> -->
    {% include "admin/members/hiephoi/hiephoi.html" %}
  </div>

  <div id="nganhnghe" class="tab-content hidden bg-white p-6 rounded-b-lg shadow">
    <!-- <h2 class="text-xl font-semibold mb-4 text-green-700">📝 Đăng ký ngành nghềnghề</h2> -->
    {% include "admin/members/nganhnghe/nganhnghe.html" %}
  </div>
  <div id="doanhnghiep" class="tab-content hidden bg-white p-6 rounded-b-lg shadow">

    {% include "admin/members/doanhnghiep/doanhnghiep.html" %}
  </div>
  <div id="dangkihiephoi" class="tab-content hidden bg-white p-6 rounded-b-lg shadow">
    <!-- <h2 class="text-xl font-semibold mb-4 text-green-700">🤝 Danh sách người dùng </h2> -->
    {% include "admin/members/dangkihiephoi/dangkihiephoi.html" %}
  </div>
 

</div>


{% endblock %}